OHSNAP_API_BASE='api_url'
NEXT_PUBLIC_APP_URL='https://scan.ohsnap.it'

# Redpanda/Kafka connection
KAFKA_BROKERS=broker
# Enable if your brokers require TLS
KAFKA_SSL=true
# Set if SASL is enabled on your cluster
KAFKA_SASL_MECHANISM=scram-sha-512
KAFKA_SASL_USERNAME=your-username
KAFKA_SASL_PASSWORD=your-password

# Topic configuration
KAFKA_TOPIC=demo-topic
